################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/obj/Debug/netcoreapp3.1/Project1.pdb
/Project1/obj/Debug/netcoreapp3.1/Project1.genruntimeconfig.cache
/Project1/obj/Debug/netcoreapp3.1/Project1.GeneratedMSBuildEditorConfig.editorconfig
/Project1/obj/Debug/netcoreapp3.1/Project1.dll
/Project1/obj/Debug/netcoreapp3.1/Project1.csproj.FileListAbsolute.txt
/Project1/obj/Debug/netcoreapp3.1/Project1.csproj.CoreCompileInputs.cache
/Project1/obj/Debug/netcoreapp3.1/Project1.csproj.BuildWithSkipAnalyzers
/Project1/obj/Debug/netcoreapp3.1/Project1.csproj.AssemblyReference.cache
/Project1/obj/Debug/netcoreapp3.1/Project1.assets.cache
/Project1/obj/Debug/netcoreapp3.1/Project1.AssemblyInfoInputs.cache
/Project1/obj/Debug/netcoreapp3.1/Project1.AssemblyInfo.cs
/Project1/obj/Debug/netcoreapp3.1/apphost.exe
/Project1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Project1/.vs/ProjectEvaluation
/Project1/.vs/Project1/v17
/Project1/.vs/Project1/FileContentIndex
/Project1/.vs/Project1/DesignTimeBuild
/Project1/bin/Debug/netcoreapp3.1/Project1.runtimeconfig.json
/Project1/bin/Debug/netcoreapp3.1/Project1.runtimeconfig.dev.json
/Project1/bin/Debug/netcoreapp3.1/Project1.pdb
/Project1/bin/Debug/netcoreapp3.1/Project1.exe
/Project1/bin/Debug/netcoreapp3.1/Project1.dll
/Project1/bin/Debug/netcoreapp3.1/Project1.deps.json
/Project1/obj/Project1.csproj.nuget.g.targets
/Project1/obj/Project1.csproj.nuget.g.props
/Project1/obj/Project1.csproj.nuget.dgspec.json
/Project1/obj/project.nuget.cache
/Project1/obj/project.assets.json
/.vs/Project1/FileContentIndex/read.lock
/.vs/Project1/FileContentIndex/61f7d9e1-5502-46e1-b9bb-b0158285a537.vsidx
